<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta property="og:title" content="Banba Group | Software engineering | Machine Learning | Artificial Intelligence" />
    <meta property="og:url" content="http://banbagroup.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/images/portfolio/projects/project-1-1.jpg" />
    <meta property="og:description" content="Banba Group" />
    <meta name="twitter:widgets:theme" content="light">


    <title>Banba Group | Software engineering | Machine Learning | Artificial Intelligence</Title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/banbagroup-favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CHind+Madurai:400,500&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/frontend/core.min.css">
    <link rel="stylesheet" href="/assets/css/frontend/core.css">
    <link rel="stylesheet" href="/assets/css/frontend/skin.css">        


    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    
  </head>
  <body class="shop blog">

    <div class="wrapper reveal-side-navigation">
      <div class="wrapper-inner">


	<!-- Side Navigation Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
	  <div class="side-navigation-scroll-pane">
	    <div class="side-navigation-inner">
	      <div class="side-navigation-header">
		<div class="navigation-hide side-nav-hide">
		  <a href="#">
		    <span class="icon-cancel medium"></span>
		  </a>
		</div>
	      </div>
	      <nav class="side-navigation nav-block">
		<ul>
		  <li class="current">
		    <a href="#" class="contains-sub-menu">Demos</a>
		  <li>
		</ul>
	      </nav>
	      <div class="side-navigation-footer">
		<p class="copyright no-margin-bottom">&copy; 2018 Banba Group</p>
	      </div>
	    </div>
	  </div>
	</aside>
	<!-- Side Navigation Menu End -->
	<!-- Header -->
	<header class="header header-absolute header-fixed-on-mobile " data-helper-in-threshold="200" data-helper-out-threshold="500" data-sticky-threshold="200" data-bkg-threshold="100" data-compact-threshold="100">
	  <div class="header-inner-top header-inner-top-dark">
	    <div class="nav-bar">
	      <div class="row flex">
		<div class="column width-8 nav-bar-inner v-align-middle left">
		  <div>
		    <p>Hello, did you know we're looking for great people to join our team in Kathmandu. <a href="/jobs">Join us now!</a></p>
		  </div>
		</div>
		<div class="column width-4 nav-bar-inner v-align-middle right">
		  <div>
		    <ul class="social-list list-horizontal">
		      <li><a href="https://facebook.com/banbagroup" alt="Banba Group on Facebook" title="Banba Group on Facebook"><span class="icon-facebook small"></span></a></li>
		      <li><a href="https://twitter.com/banbagroup" alt="@banbagroup on Twitter" title="@banbagroup on Twitter"><span class="icon-twitter small"></span></a></li>
		    </ul>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="header-inner">
	    <div class="row nav-bar">
	      <div class="column width-12 nav-bar-inner">
		<div class="logo">
		  <div class="logo-inner">
		    <a href="/"><img src="/assets/images/banbagroup-logo-dark.png"></a>
		    <a href="/"><img src="/assets/images/banbagroup-logo.png"></a>
		  </div>
		</div>
		<nav class="navigation nav-block secondary-navigation nav-right">
		  <ul>
		    <li>
		    </li>
		    <li class="aux-navigation hide">
		      <!-- Aux Navigation -->
		      <a href="#" class="navigation-show side-nav-show nav-icon">
			<span class="icon-menu"></span>
		      </a>
		    </li>
		  </ul>
		</nav>
		<nav class="navigation nav-block primary-navigation nav-left">
		  <ul>
		    <li class="current">
		      <a href="/about">About</a>
		    </li>
		    <li class="current">
		      <a href="/blog">Blog</a>
		    </li>
		    <li class="current">
                      <a href="/jobs">Jobs</a>
		    </li>		    
		  </ul>
		</nav>
	      </div>
	    </div>
	  </div>
	</header>
	<!-- Header End -->
	
	{{content}}
      </div>
      <!-- Footer -->
      <footer class="footer footer-light border-top">
	<div class="footer-top">
	  <div class="row flex">
	    <div class="column width-5">
	    </div>
	    <div class="column width-6 offset-1">
              <div class="row flex two-columns-on-tablet">
		<div class="column width-4 offset-8">
		  <div class="widget">
		    <h3 class="widget-title mb-30">Discover</h3>
		    <ul>
                      <li><a href="/about">About</a></li>
                      <li><a href="/jobs">Jobs</a></li>
                      <li><a href="mailto:hi@banbagroup.com">Get in touch</a></li>
		    </ul>
		  </div>
		</div>
		<!-- <div class="column width-4"> -->
		<!--   <div class="widget"> -->
		<!--     <\!-- <h3 class="widget-title mb-30">Resources</h3> -\-> -->
		<!--     <\!-- <ul> -\-> -->
                <!--     <\!--   <li><a href="/case-studies">Case studies</a></li> -\-> -->
		<!--     <\!-- </ul> -\-> -->
		<!--   </div> -->
		<!-- </div> -->
              </div>
	    </div>
	  </div>
	  <div class="row flex">
	    <div class="column width-12">
              <hr class="mb-10 mb-mobile-30">
	    </div>
	    <div class="column width-8">
              <p class="copyright pull-left clear-float-on-mobile">© Banba Group. All Rights Reserved.</p> <a href="#" class="scroll-to-top pull-right clear-on-mobile" data-no-hide="">Back Top</a>
	    </div>
	    <div class="column width-4 v-align-middle">
              <div class="widget">
		<ul class="social-list list-horizontal pull-right clear-float-on-mobile">
		  <li><a href="https://www.twitter.com/banbagroup" alt="@banbagroup on Twitter" title="@banbagroup on Twitter"><span class="icon-twitter small"></span></a></li>
		  <li><a href="https://www.facebook.com/banbagroup" alt="@banbagroup on Facebook" title="@banbagroup on Facebook"><span class="icon-facebook small"></span></a></li>
		</ul>
              </div>
	    </div>
	  </div>
	</div>
      </footer>
      <!-- Footer End -->

    </div> 

    <script src="/assets/js/frontend/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/frontend/timber.master.min.js"></script>
  </body>
</html>

